@model IEnumerable<CardSeriesViewModel>

@{
    ViewData["Title"] = "SeriesList";
}

<h1>SeriesList</h1>


@foreach(var perPeriod in Model.Select(x => x.Period).Distinct())
{
    <div class="card mb-3 text-center">
        <div class="card-header">
            第 @perPeriod 期
        </div>
        <ul class="list-group list-group-flush">
            @foreach(var item in Model.Where(x => x.Period == perPeriod)){
                <li class="list-group-item"> <a asp-controller="CardInfo" asp-action="SeriesInfo" asp-route-seriesId="@item.Id" class="stretched-link">@item.SeriesName</a> </li>
               
            }
        </ul>
    </div>
}


