@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="text-center">
        <h1 class="display-4">YGO收藏</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">卡表一覽</a>
                <a href="#" class="list-group-item">卡表一覽</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">新增卡片</a>
                <a asp-controller="CardInfo" asp-action="Create" class="list-group-item">新增卡片</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">相關設定</a>
                <a asp-controller="CardSeries" asp-action="Index" class="list-group-item">卡片系列設定</a>
                <a asp-controller="CardType" asp-action="Index" class="list-group-item">卡片類型設定</a>
            </div>
        </div>
    </div>
</div>
